@tailwind base;
@tailwind components;
@tailwind utilities;


.input-field {
  @apply appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-200/40 bg-gray-800/50 placeholder-gray-400 text-white focus:outline-none focus:ring-violet-400 focus:border-violet-400 focus:z-10 text-sm md:text-base;
}
.scrollbar-thin {
  scrollbar-width:thin;
}

.scrollbar-thumb-rounded {
  scrollbar-color: transparent transparent;
  scrollbar-width: 2px;

}
/* Apply styles to all scrollbars within the comments section */
.scrollbar-thumb-rounded-comment {
  scrollbar-color: rgb(140, 59, 197) transparent; 
  scrollbar-width: thin;
}

.blog-card:hover {
  @apply transform scale-105 shadow-xl;
}


